<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Genre Index</h1>
    <% @genres.each do |genre| %>
    <ul>
      <li>
        <%=genre.name%>
        <%id=genre.slug%>
        <a href="/genres/<%=id%>">click here to go to Genre</a>
      </li>
    </ul>
    <%end%>

  </body>
</html>
