<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Song Index</h1>
    <p>
      <% @songs.each do |song| %>
      <ul>
        <li>
        <%=song.name%> by <%=song.artist.name%>
        <%id=song.slug%>
        <a href="/songs/<%=id%>">"Click to go to song"</a>
        </li>
      </ul>
      <% end %>
    </p>

  </body>
</html>
