<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Song/Artist:</h1>
    <form class="" action="/songs" method="post">
      <h2>Genres:</h2>
      <% Genre.all.each do |genre| %>
      <p><label for="<%genre.name%>"><%=genre.name%></label>
      <input id="<%= genre.name %>" type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>"></p>
      <% end %>

      <p>
      <label for="new_song">Create New Song</label>
      <input id="Name" type="text" name="song[name]" value="">
    </p>

    <p>
    <label for="new_artist">Create New Artist</label>
    <input id="Artist Name" type="text" name="song[artist_name]" value="">
  </p>

  <input type="submit" name="" value="Create">
    </form>

  </body>
</html>
